body{
	background-image:url('../images/market_full.jpg');
	background-repeat:no-repeat;
	background-color:#eee;
	max-width:1333px;
	
}
.maparea{
	width:70%;
	height:70%;
}
.maparea .places{
	opacity:0.0;
	-webkit-transition: all 0.4s ;
	-moz-transition: all 0.4s ;
	-ms-transition: all 0.4s ;
	-o-transition: all 0.4s ;
	transition: all 0.4s ;
	cursor:pointer;
}
.maparea .places:hover{
	opacity:1;
}
.marker{
	position:absolute;
}
div::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(23,23,23,0.4);
	border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(23,23,23,0.8);
}
.chatbox{
	position:absolute;
	left:100px;
	top:80px;
	width:350px;
	height:393px;
	padding:15px;
	background:url('../images/chat.png');
}
.chatarea{
	width:250px;
	height:190px;
	overflow-y:auto;
	overflow-x:hidden;
	margin-top:25px;
	margin-left:50px;
	PADDING:0px 10px;
}
.chatarea p{
	width:248px;
	margin:0;
	color:black;
	font-family:calibri;
}
.chat_sent{
	color:red;
	font-family:"My Custom Font";
	font-size:18pt;
	padding-right:5px;
}
.chat_received{
	color:green;
	font-family:"My Custom Font";
	font-size:18pt;
	padding-right:5px;
}
.message{
	width:240px;
	margin-left:45px;
	margin-top:20px;
	background-color:rgba(10, 10, 10, 0.35);
	color:white;
	padding:4px;
	letter-spacing:2px;
}
.send_message{
	width:20px;
	height:25px;
	background-color:transparent;
	border:none;
	background-image:url('../images/chat_send.png');
	background-repeat:no-repeat;
	cursor:pointer;
}
.close_message{
	width:76px;
	height:25px;
	background-color:transparent;
	border:none;
	position:absolute;
	margin-top:-12px;
	background-image:url('../images/chat_close.png');
	background-repeat:no-repeat;
	cursor:pointer;
}
.chat_exchange{
	width:106px;
	height:25px;
	background-color:transparent;
	border:none;
	background-image:url('../images/chat_exchange.png');
	background-repeat:no-repeat;
	cursor:pointer;
}
.attack_xchange{
	margin-left:40px;
	margin-top:34px;
}
.attack_xchange tr td{
	padding-right:5px;
}
.chat_attack{
	width:86px;
	cursor:pointer;
	height:25px;
	background-color:transparent;
	border:none;
	background-image:url('../images/chat_attack.png');
	background-repeat:no-repeat;
}
.chat_btn{
	
}
.chat_btn:hover{
	opacity:0.6;
}
.chat_with{
	color:white;
	position:absolute;
	top:3px;
	left:33px;
	font-size:16pt;
	padding:3px 10px;
	text-shadow: 1px 1px 2px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
}
.chat_with img{
	height:50px;
	width:50px;
}
.chat_controls{
	background-color:rgba(23,23,23,0.9);
	padding:0px 10px;
}
.player{
	height:30px;
	width:30px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position:absolute;
	cursor:pointer;
	border:solid 2px #fff;
	-webkit-transition: all 0.3s ;
	-moz-transition: all 0.3s ;
	-ms-transition: all 0.3s ;
	-o-transition: all 0.3s ;
	transition: all 0.3s ;
	z-index:0;
}
.player:hover{
	opacity:0.5;
	border:solid 3px #fff;
	height:90px;
	width:90px;
}
.player_msg{
	position:relative;
	top: -70px;
	left: 50px;
	padding: 5px;
}
#broadcast
	{
		background:url('../images/broadcast.png');
		width:300px;
		height:331px;
		position:absolute;
		bottom:25;
		right:41;
		z-index:500;
	}
#broadcast_msg
	{
		background-color:rgba(10, 10, 10, 0.35);
	color:white;
	padding:4px;
	letter-spacing:2px;
	}
#broadcast_displaymsg
	{
		margin-top: 95px;
		margin-left: 50px;
	}

#broadcast_button
	{
		cursor:pointer;
	}
#broadcast_msg
	{
		width: 135px;
		margin-left: 10px;
	}
.broadcast_msg {
	font-size: 1em;
	color: black;
	font-family: 'segoe ui', 'ariel black', 'helvetica', 'times new roman';
}
#shop
	{
		position: absolute;
		left: 612px;
		top:0;
		opacity:0;
		-webkit-transition: all 0.4s ;
		-moz-transition: all 0.4s ;
		-ms-transition: all 0.4s ;
		-o-transition: all 0.4s ;
		transition: all 0.4s ;
	}
#shop:hover
	{
		opacity:1;
	}
#own_inventory
	{
		position:absolute;
	}
	
.l
	{
		width:25;
	}
.m
	{
		width:100;
	}
.n
	{
		width:120;
	}
.o
	{
		width:50;
	}
.p
	{
		width:25;
	}